############################################
# Copy this file to `app/.env` and update it
############################################

# URLs
LOCAL_URL=http://localhost/php-mvc-bootcamp
DEV_URL=http://localhost/php-mvc-bootcamp
PROD_URL=https://example.com

# Site
SITE_NAME=GetMeALatte
ADMIN_EMAIL=admin@example.com

# Mailer (optional). Example: smtp://user:pass@localhost:1025
MAILER_DSN=null://null

# Database
DB_HOST=127.0.0.1
DB_NAME=getmealatte
DB_USER=root
DB_PASSWORD=

# Midtrans (Snap)
MIDTRANS_SERVER_KEY=YOUR_SERVER_KEY
MIDTRANS_CLIENT_KEY=YOUR_CLIENT_KEY
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_IS_SANITIZED=true
MIDTRANS_IS_3DS=true
